.bg-height {
  height: 100vh;
}

.header {
  padding-top: 25px;
}

.text-area {
  height: 300px;
}

.flex-button {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
